# K-mean

ðŸ“Œ Key Concepts:

K: Number of clusters you want to divide the data into.

Centroid: The center point of a cluster.

Distance: Data points are assigned to the nearest centroid (usually using Euclidean distance).

ðŸ§  How K-Means Works:

Choose the number of clusters (K).

Initialize K centroids randomly.

Assign each data point to the nearest centroid via calculate the distance between each point and centroid. via  eucilidian distance= sqrt((x1-x2)^2 + (y1-y2)^2)

Recalculate the centroids by taking the mean of all points in each cluster. via  (x1+x2)/2 , (y1+y2)/2

Repeat steps 3-4 until centroids no longer change (convergence).### inter cluster --> ek cluster ke dat point ke centroid se dusre cluster ke data point tak ke distace inter cluster hai
### intra cluster --> it is a distance between data points in the same cluster

k mean clustering : Evaluation Metrics
ðŸ”¹ Intracluster Distance: Definition: The distance between data points within the same cluster.

Goal: Should be low (points in the same cluster should be close to each other).

Indicates: Compactness of the cluster.

âœ… Lower intracluster distance = Better cluster tightness

ðŸ”¸ Intercluster Distance: Definition: The distance between the centroids of different clusters.

Goal: Should be high (clusters should be well-separated from each other).

Indicates: Separation between clusters.

âœ… Higher intercluster distance = Better cluster separation

Optimal way to find no of centroids( no. of k)
---> Algo method: it is based on wcss(within cluster sum of square)

##### optimal way to find k = no. of contained 
##### 1. Elbow method 
##### this methos bases on wcss
##### wcss --< wihin cluster sum of squares   
##### it will evaluate how well have clustering algo as grouped the data point

<img src= "photo.jpg">

<img src="Screenshot.png">

<img src="images.png">

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('Crop_recommendation.csv')
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [3]:
label=df.groupby('label')
label

In [4]:
label.get_group('rice')

     N   P   K  temperature   humidity        ph    rainfall label
0   90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1   85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2   60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3   74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4   78  42  42    20.130175  81.604873  7.628473  262.717340  rice
..  ..  ..  ..          ...        ...       ...         ...   ...
95  88  46  42    22.683191  83.463583  6.604993  194.265172  rice
96  93  47  37    21.533463  82.140041  6.500343  295.924880  rice
97  60  55  45    21.408658  83.329319  5.935745  287.576694  rice
98  78  35  44    26.543481  84.673536  7.072656  183.622266  rice
99  65  37  40    23.359054  83.595123  5.333323  188.413665  rice

[100 rows x 8 columns]

In [15]:
label[["humidity"]].mean()

              humidity
label
apple        92.333383
banana       80.358123
blackgram    65.118426
chickpea     16.860439
coconut      94.844272
coffee       58.869846
cotton       79.843474
grapes       81.875228
jute         79.639864
kidneybeans  21.605357
lentil       64.804785
maize        65.092249
mango        50.156573
mothbeans    53.160418
mungbean     85.499975
muskmelon    92.342802
orange       92.170209
papaya       92.403388
pigeonpeas   48.061633
pomegranate  90.125504
rice         82.272822
watermelon   85.160375

In [19]:
labels=list(label.mean().index)
labels

['apple',
 'banana',
 'blackgram',
 'chickpea',
 'coconut',
 'coffee',
 'cotton',
 'grapes',
 'jute',
 'kidneybeans',
 'lentil',
 'maize',
 'mango',
 'mothbeans',
 'mungbean',
 'muskmelon',
 'orange',
 'papaya',
 'pigeonpeas',
 'pomegranate',
 'rice',
 'watermelon']

In [ ]:
# df['label'].nunique()           # this nunique function gives the number of unique labels in the label column
# df['label'].value_counts()      # this value_counts function gives the number of occurences of each label in the label column
# df['label'].unique()          # this unique function gives the unique labels in the label column

22